.anime_body {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 2;
  padding: 280px 150px 0;
  margin-bottom: 40px;

  .anime_body_poster {
    width: 302px;
    height: 453px;
    background-size: cover;
    background-position: 50%;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0px;
      color: transparent;
    }
  }
  .anime_body_poster:hover {
    transform: perspective(612px) rotateX(7deg) rotateY(7deg) rotate(0deg);
  }

  .anime_body_poster_sub {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .anime_add_to_folder {
    width: 100%;
    padding: 8px 20px;
    border-radius: 30px;
    margin-top: 25px;
    border: none;
    outline: none;
    background: #282828;
    color: #fff;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 32;
  }
  .anime_body_center {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
    max-width: 50%;
  }
  .text_devider {
    margin: 0 5px;
  }
  .title_name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .desc_title {
    font-size: 36px;
    font-weight: 700;
  }
  .anime_central_body_genres_text {
    margin-bottom: 15px;
  }
}
