.catalog__container {
  width: 100%;
  height: fit-content;
  padding: 15px 0 30px;
  margin-top: 25px;
}

.status {
  color: #eee;
  font-size: 19px;
  font-weight: 700;
  position: relative;
  left: 70px;
}

.relative {
  position: relative;
}

.list {
  --dissapear: 0;
  display: flex;
  overflow-x: hidden;
  transition: all 0.3s ease;
  &:hover {
    --dissapear: 1;
  }
}

.left_button_1,
.right_button_1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #ababab;
  transition: 0.3s;
  opacity: var(--dissapear);
  z-index: 20;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: auto;
  padding: 0 20px;
}

.left_button_1 {
  left: 0;
  justify-content: flex-end;
  background: linear-gradient(90deg, rgba(8, 8, 8, 0), #080808);
}

.right_button_1 {
  right: 0;
  justify-content: flex-start;
  background: linear-gradient(270deg, rgba(8, 8, 8, 0), #080808);
}

.episode_space {
  height: 172px;
  min-width: 60px;
  min-height: 172px;
}

.left_button_1 svg {
  transform: rotate(180deg);
}
