.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .header__dark {
    position: relative;
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, #000, transparent);
    .header {
      display: flex;
      width: 100%;
      max-width: 95vw;
      justify-content: space-between;
      padding: 20px 40px;
      .header__part {
        align-items: center;
        display: flex;
        cursor: pointer;
        .user_avatar {
          position: relative;
          cursor: pointer;
          .user_avatar_img {
            margin-right: 15px;
            min-width: 42px;
            min-height: 42px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #6c6060;
          }
        }
        .library {
          font-size: 18px;
          transition: 0.2s;
          &:hover {
            color: rgba(255, 255, 255, 0.582);
            transition: 0.2s;
          }
        }
        .search {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px;
          background: hsla(0, 0%, 100%, 0.16);
          border-radius: 50%;
          .header_part_icon {
            fill: #bbb;
            transition: 0.2s;
            &:hover {
              fill: white;
            }
          }
        }
      }
    }
  }
}
