.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .header__dark {
    position: relative;
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, #000, transparent);
    pointer-events: none;
    .header {
      display: flex;
      width: 100%;
      max-width: 95vw;
      justify-content: space-between;
      padding: 20px 40px;
      .header__part {
        display: flex;
        cursor: pointer;
        .avatar {
          margin-right: 20px;
        }
      }
    }
  }
}
